body{
    background-color:darkred;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 4px #000000;    
    font-family: 'Lobster Two', cursive;
}
header{
    margin-top: 50px;
    text-align: center;
}
h1{
    font-size: 50px;
    transition: all 0.3s ease-in-out 0s;
}
h1:hover{
    font-size: 55px;
    color: red;
}
ul{
    padding: 10px;
    background: rgba(0,0,0,.5);
    text-align: center;
}
li{
    display: inline;
}
a{
    margin: 0 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration:none;
    display: inline;
    transition: all 0.3s ease-in-out 0s;
}
a:hover{
    color: red;
    font-size: 25px;
}
article{ 
    margin: 50px auto;
    max-width: 500px;
}
div{
    float:left;
    margin-bottom:30px; 
}
p{
    font-size: 18px;
    line-height: 1.7;
}
h3{
    font-size: 30px;
    transition: all 0.3s ease-in-out 0s;
}
h3:hover{
    color: red;
}
button{
    cursor: pointer;
    padding: 0px 25px;
    font-family: 'Lobster Two', cursive;
    font-size: 18px;
    transition: all 0.3s ease-in-out 0s;
}
button:hover{
    color: dodgerblue;
}

